__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/
venv/
env/
.streamlit/

data_raw/*
!data_raw/*.csv
!data_raw/*.parquet
!data_raw/.gitkeep

data_clean/*
!data_clean/*.csv
!data_clean/*.parquet
!data_clean/.gitkeep
